{% extends 'base.html.twig' %}

{% block content %}
	<div class="row">
   	<div class="col-md-4 col-md-push-4 col-xs-12">
      	<a href="" class="btn btn-info btn-lg btn-block">Еда</a>
      </div>
   	<br><br><br><br>
      <div class="col-md-4 col-md-push-4 col-xs-12">
      	<a href="" class="btn btn-success btn-lg btn-block">Инсулин</a>
      </div>
   	<br><br><br><br>
      <div class="col-md-4 col-md-push-4 col-xs-12">
      	<a href="" class="btn btn-warning btn-lg btn-block">График</a>
      </div>

   </div>

{% endblock %} 

